  <footer th:fragment="footer" class="section-p1">
    <div class="column">
      <img src="/image/logo.png" alt="logo" class="logo footer-logo">
      <h4>Contact</h4>
      <p><strong>Address:</strong> 562 Wellington road,Street 32, San-Francisco</p>
      <p><strong>Phone:</strong> +01 2222 365</p>
      <p><strong>Hours:</strong> 10:00-18:00, Mon-Fri</p>
      <div class="follow">
        <h4>Follow us</h4>
        <div class="icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Delivery information</a>
      <a href="#">Privacy policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact us</a>
    </div>

    <div class="column">
      <h4>My account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Orders</a>
      <a href="#">Help</a>
    </div>

    <div class="column install">
      <h4>Install App</h4>
      <p>From App Store of Google Play</p>
      <div class="row">
        <img src="/image/app.png">
        <img src="/image/play.png">
      </div>
      <p>Secured Payment Gateways</p>
      <img src="/image/pay.png" class="payment">
    </div>

    <div class="copyright">
      <p>© - 2022</p>
    </div>
  </footer>
