<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Shop</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header th:replace="blocks/header::header"></header>

	<section id="hero">
		<h4>Trade in offer</h4>
		<h2>Amazing value deals</h2>
		<h1>On every product</h1>
		<p>Save more with promo codes (up to 70%)</p>
		<button><a th:href="'/shop'" >Shop</a></button>
	</section>

	<section id="features" class="section-p1">
		<div class="fe-box">
			<img src="image/new-product.png" alt="new product">
			<h6>New products!</h6>		
		</div>
		<div class="fe-box">
			<img src="image/resupply.png" alt="new product">
			<h6>Constantly resupplying!</h6>		
		</div>
		<div class="fe-box">
			<img src="image/search.png" alt="new product">
			<h6>Easy searching!</h6>		
		</div>
		<div class="fe-box">
			<img src="image/Shipping.png" alt="new product">
			<h6>Free shipping!</h6>		
		</div>
	</section>

	<section id="product1" class="section-p1 product-main-banner">
		<h2>Featured products</h2>
		<p>Top sellers</p>
		<div class="products-container">
			<div th:each="prod : ${products}" class="product">
				<img th:src="${prod.imageURL}">
				<div class="description">
					<span th:text="${prod.description}"/>
					<h5 th:text="${prod.name}"/>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4 th:text="'$' + ${prod.price}"/>
				</div>
				<a th:href="'/shop/' + ${prod.id}"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
		</div>
	</section>

	<section id="banner" class="section-m1">
		<h4>Repair service</h4>
		<h2>Up to <span>70% off</span> - all accessories</h2>
		<button class="normal">Explore</button>
	</section>

	<section id="product2" class="section-p1  product-main-banner">
		<h2>New arrivals</h2>
		<p>New Fall collection</p>
		<div class="products-container">
			<div th:each="prod : ${products}" class="product">
				<img th:src="${prod.imageURL}">
				<div class="description">
					<span th:text="${prod.description}"/>
					<h5 th:text="${prod.name}"/>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4 th:text="'$' + ${prod.price}"/>
				</div>
				<a th:href="'/shop/' + ${prod.id}"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
		</div>
	</section>

	<section id="sm-banner" class="section-p1">
		<div class="banner-box">
			<h4>crazy deals</h4>
			<h2>buy 1 get 1 for free</h2>
			<span>You can find the best clothes on our site</span>
			<button class="white">learn more</button>
		</div>
		<div class="banner-box banner-box2">
			<h4>Spring</h4>
			<h2>Upcoming collection</h2>
			<span>You can find the best clothes on our site</span>
			<button class="white">Collection</button>
		</div>
	</section>

	<section id="banner3">
		<div class="banner-box">
			<h2>SEASONAL SALE</h2>
			<h3>Winter collection -50% OFF</h3>
		</div>
		<div class="banner-box">
			<h2>NEW FOOTWEAR COLLECTION</h2>
			<h3>Winter/Spring 2022</h3>
		</div>
		<div class="banner-box">
			<h2>UNLIMITED SUPPLY</h2>
			<h3>No need to wait</h3>
		</div>
	</section>

	<section th:replace="blocks/newsletter::newsletter"/>

	<footer th:replace="blocks/footer::footer"></footer>

<script src="script.js"></script>
</body>
</html>