<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Shop</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header th:replace="blocks/header::header"></header>

    <section id="pro-details" class="section-p1">
        <div class="single-pro-image">
            <img th:src="${product.imageURL}" width="100%" id="MainImg">
        </div>
        <div class="single-pro-details">
            <h6>Home/Tshirt</h6>
            <h4 th:text="${product.name}"/>
            <h2 th:text="'$' + ${product.price}"/>
            <select>
                <option>Select Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1" min="1" oninput="this.value = 
             Math.abs(this.value) >= 1 ? Math.abs(this.value) : 1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span th:text="${product.description}"/>
        </div>
    </section>

    <section id="product" class="section-p1 product-main-banner">
		<h2>Featured Products</h2>
		<p>New Fall collection</p>
		<div class="products-container">
			<div th:each="prod : ${products}" class="product">
				<img th:src="${prod.imageURL}">
				<div class="description">
					<span th:text="${prod.description}"/>
					<h5 th:text="${prod.name}"/>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4 th:text="'$' + ${prod.price}"/>
				</div>
				<a th:href="'/shop/' + ${prod.id}"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
		</div>
	</section>


	<section th:replace="blocks/newsletter::newsletter"/>

	<footer th:replace="blocks/footer::footer"></footer>

<script src="script.js"></script>
</body>
</html>