<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Shop</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section id="header">
		<a href="#"><img src="image/logo.png" class="logo" alt="Logo"></a>
		<div>
			<ul id="navbar">
				<a href="#" id="close"><i class="fa fa-times"></i></a>
				<li><a href="index.html">Home</a></li>
				<li><a class ="active" href="shop.html">Shop</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="Sign.html">Sign In</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact us</a></li>
				<li id="lg-cart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></li>
			</ul>
		</div>
		<div id="mobile">
			<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
			<i id="bar" class="fas fa-outdent"></i>
		</div>
	</section>

    <section id="pro-details" class="section-p1">
        <div class="single-pro-image">
            <img src="image/products/Tshirt1.jpg" width="100%" id="MainImg">
            <div class="small-img-group">
                <div class="small-img-column">
                    <img src="image/products/Tshirt1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-column">
                    <img src="image/products/Tshirt2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-column">
                    <img src="image/products/Tshirt3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-column">
                    <img src="image/products/Tshirt4.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-column">
                    <img src="image/products/Tshirt5.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-column">
                    <img src="image/products/Tshirt6.jpg" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6>Home/Tshirt</h6>
            <h4>Men's fashion Tshirt</h4>
            <h2>$20.00</h2>
            <select>
                <option>Select Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1" min="1" oninput="this.value = 
             Math.abs(this.value) >= 1 ? Math.abs(this.value) : 1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>
                <Ul>
                    <li>100% Cotton</li>
                    <li>Imported</li> 
                    <li>Pull On closure</li> 
                    <li>Machine Wash</li>
                    <li>Soft, breathable cotton</li>
                    <li>Moisture wicking technology keeps you cool and dry</li>
                    <li>Tag-free to prevent irritation</li>
                    <li>Classic length for easy tucking</li>
                    <li>Durable stitching</li>
                    <li>Lay-flat collar</li>
                </Ul>
            </span>
        </div>
    </section>

    <section id="product" class="section-p1">
		<h2>Featured Products</h2>
		<p>New Fall collection</p>
		<div class="products-container">
			<div class="product">
				<img src="image/products/Tshirt1.jpg">
				<div class="description">
					<span>adidas</span>
					<h5>Tshirt Autumn collection</h5>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4>$30</h4>
				</div>
				<a href="#"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
			<div class="product">
				<img src="image/products/Tshirt2.jpg">
				<div class="description">
					<span>adidas</span>
					<h5>Tshirt Autumn collection</h5>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4>$30</h4>
				</div>
				<a href="#"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
			<div class="product">
				<img src="image/products/Tshirt3.jpg">
				<div class="description">
					<span>adidas</span>
					<h5>Orange Tshirt Autumn collection</h5>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4>$30</h4>
				</div>
				<a href="#"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
			<div class="product">
				<img src="image/products/Tshirt4.jpg">
				<div class="description">
					<span>adidas</span>
					<h5>Orange Tshirt Autumn collection</h5>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h4>$30</h4>
				</div>
				<a href="#"><i class="fas fa-shopping-cart cart"></i></a>
			</div>
		</div>
	</section>


	<section id="newsletter" class="section-p1 section-m1">
		<div class="newstext">
			<h4>Sign up for newsletters</h4>
			<p>Get E-mail updates about our latest supplies and <span>Special offers.</span></p>
		</div>
		<div class="form">
			<input type="text" placeholder="Your E-mail address">
			<button class="normal">Sign up</button>
		</div>
	</section>

	<footer class="section-p1">
		<div class="column">
			<img src="image/logo.png" alt="logo" class="Logo footer-logo">
			<h4>Contact</h4>
			<p><strong>Adress:</strong> 562 Wellingtong road,Street 32, San-Francisco</p>
			<p><strong>Phone:</strong> +01 2222 365</p>
			<p><strong>Hours:</strong> 10:00-18:00, Mon-Fri</p>
			<div class="follow">
			<h4>Follow us</h4>
			<div class="icons">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-youtube"></i>
			</div>	
			</div>
		</div>

		<div class="column">
			<h4>About</h4>
			<a href="#">About us</a>
			<a href="#">Delivery information</a>
			<a href="#">Privacy policy</a>
			<a href="#">Terms & Conditions</a>
			<a href="#">Contact us</a>
		</div>

		<div class="column">
			<h4>My account</h4>
			<a href="#">Sign In</a>
			<a href="#">View Cart</a>
			<a href="#">My Wishlist</a>
			<a href="#">Track My Orders</a>
			<a href="#">Help</a>
		</div>

		<div class="column install">
			<h4>Install App</h4>
			<p>From App Store of Google Play</p>
			<div class="row">
				<img src="image/app.png">
				<img src="image/play.png">
			</div>
			<p>Secured Payment Gateways</p>
			<img src="image/pay.png" class="payment">
		</div>

		<div class="copyright">
			<p>© - 2022</p>
		</div>
	</footer>

    <script>
        var MainImg = document.getElementById("MainImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function(){
            MainImg.src = SmallImg[0].src
        }
        SmallImg[1].onclick = function(){
            MainImg.src = SmallImg[1].src
        }
        SmallImg[2].onclick = function(){
            MainImg.src = SmallImg[2].src
        }
        SmallImg[3].onclick = function(){
            MainImg.src = SmallImg[3].src
        }
        SmallImg[4].onclick = function(){
            MainImg.src = SmallImg[4].src
        }
        SmallImg[5].onclick = function(){
            MainImg.src = SmallImg[5].src
        }
    </script>

<script src="script.js"></script>
</body>
</html>